body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer2
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   padding: 20px 20px 20px 20px;
   box-sizing: border-box;
   margin: 0;
}
#Layer2
{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
}
#Layer1
{
   background-color: transparent;
   background-image: url('../conflicts.webp');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border-radius: 0px;
   padding: 0;
   box-sizing: border-box;
   margin: 0;
}
#Layer3
{
   background-color: transparent;
   background-image: url('../vote.webp');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border-radius: 0px;
   padding: 0;
   margin: 0;
}
#Layer4
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   padding: 20px 20px 20px 20px;
   box-sizing: border-box;
   margin: 0;
}
#Layer4
{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 30px 0 30px 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: left;
   position: relative;
   z-index: 1111 !important;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu1 li
{
   display: inline-block;
   margin: 0;
   padding: 0px 4px 0px 0px;
}
#wb_CssMenu1 a
{
   display: block;
   color: #FFFFFF;
   border: 1px solid rgba(0,0,0,0.00);
   border-radius: 0px;
   background-color: #000000;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_CssMenu1 > ul > li > a
{
   height: 26px;
   line-height: 26px;
   padding: 0px 0px 0px 0px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
}
.CssMenu1-effect:before
{
   border: 1px solid rgba(0,0,0,0.00);
   background-color: #FFFFFF;
   background-image: none;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
.CssMenu1-effect
{
   display: inline-block;
   transform: perspective(0px) translateX(0);
   position: relative;
   transition: color 500ms linear;
}
.CssMenu1-effect:before 
{
   content: "";
   position: absolute;
   height: 0px;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
   transform: scaleX(0);
   transform-origin: 0 50%;
   transition: all 500ms linear;
}
.CssMenu1-effect:hover:before, .CssMenu1-effect:focus:before, .CssMenu1-effect.active:before
{
   transform: scaleX(1);
}
#Layer8
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   padding: 0;
   margin: 0;
}
#Layer8
{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
}
#Layer10
{
   background-color: transparent;
   background-image: url('../folkmord.webp');
   background-repeat: no-repeat;
   background-position: center top;
   background-attachment: scroll;
   background-size: cover;
   border-radius: 0px;
   padding: 0;
   margin: 0;
}
#Layer9
{
   background-color: transparent;
   background-image: url('../folkmord-Israel.webp');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border-radius: 0px;
   padding: 0;
   margin: 0;
}
#Layer6
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   padding: 20px 20px 20px 20px;
   box-sizing: border-box;
   margin: 0;
}
#Layer6
{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
}
#Layer11
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   padding: 0;
   margin: 0;
}
#Layer11
{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
}
#Layer13
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   padding: 20px 20px 20px 20px;
   box-sizing: border-box;
   margin: 0;
}
#Layer13
{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
}
#Layer5
{
   background-color: transparent;
   background-image: url('../Tre reformer som förändrar världen.webp');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border-radius: 0px;
   padding: 0;
   margin: 0;
}
#Layer7
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   padding: 20px 20px 20px 20px;
   box-sizing: border-box;
   margin: 0;
}
#Layer7
{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
}
#Layer14
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   padding: 0;
   box-sizing: border-box;
   margin: 0;
}
#Layer14
{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
}
#Layer15
{
   background-color: #3E78B3;
   background-image: none;
   border-radius: 0px;
   padding: 0 20px 0 20px;
   box-sizing: border-box;
   margin: 0;
}
#Layer15
{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
}
#contactName
{
   box-sizing: border-box;
   line-height: 22px;
   margin: 0 0 15px 0 ;
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: #3E78B3;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: left;
   padding: 8px 12px 8px 12px;
}
#contactName:focus
{
   border-color: #0078FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(0,120,255,0.60);
   outline: 0;
}
#contactName::placeholder
{
   color: #FFFFFF;
   opacity: 1;
}
#contactName::-ms-input-placeholder
{
   color: #FFFFFF;
}
#contactEmail
{
   box-sizing: border-box;
   line-height: 22px;
   margin: 0 0 15px 0 ;
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: #3E78B3;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: left;
   padding: 8px 12px 8px 12px;
}
#contactEmail:focus
{
   border-color: #0078FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(0,120,255,0.60);
   outline: 0;
}
#contactEmail::placeholder
{
   color: #FFFFFF;
   opacity: 1;
}
#contactEmail::-ms-input-placeholder
{
   color: #FFFFFF;
}
#contactSubject
{
   box-sizing: border-box;
   line-height: 22px;
   margin: 0 0 15px 0 ;
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: #3E78B3;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: left;
   padding: 8px 12px 8px 12px;
}
#contactSubject:focus
{
   border-color: #0078FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(0,120,255,0.60);
   outline: 0;
}
#contactSubject::placeholder
{
   color: #FFFFFF;
   opacity: 1;
}
#contactSubject::-ms-input-placeholder
{
   color: #FFFFFF;
}
#contactMessage
{
   box-sizing: border-box;
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: #3E78B3;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: left;
   padding: 8px 12px 8px 12px;
   margin: 0 0 15px 0 ;
   overflow: auto;
   resize: none;
}
#contactMessage:focus
{
   border-color: #0078FF;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(0,120,255,0.60);
   outline: 0;
}
#contactMessage::placeholder
{
   color: #FFFFFF;
   opacity: 1;
}
#contactMessage::-ms-input-placeholder
{
   color: #FFFFFF;
}
#contactButton
{
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #3E78B3;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 1px 4px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#contactButton:focus
{
   outline: 0;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0 0 20px 0 ;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text6
{
   display: block;
   margin: 0 0 20px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_FontAwesomeIcon6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 10px 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#FontAwesomeIcon6
{
   height: 54px;
   width: 54px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#FontAwesomeIcon6 i
{
   color: #3E78B3;
   display: inline-block;
   font-size: 54px;
   line-height: 54px;
   vertical-align: middle;
}
#wb_FontAwesomeIcon6:hover #FontAwesomeIcon6 i
{
   color: #696969;
}
#wb_FontAwesomeIcon7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 10px 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#FontAwesomeIcon7
{
   height: 54px;
   width: 54px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#FontAwesomeIcon7 i
{
   color: #3E78B3;
   display: inline-block;
   font-size: 54px;
   line-height: 54px;
   vertical-align: middle;
}
#wb_FontAwesomeIcon7:hover #FontAwesomeIcon7 i
{
   color: #696969;
}
#wb_FontAwesomeIcon9
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 10px 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#FontAwesomeIcon9
{
   height: 54px;
   width: 54px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#FontAwesomeIcon9 i
{
   color: #3E78B3;
   display: inline-block;
   font-size: 54px;
   line-height: 54px;
   vertical-align: middle;
}
#wb_FontAwesomeIcon9:hover #FontAwesomeIcon9 i
{
   color: #696969;
}
#wb_FontAwesomeIcon8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 10px 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#FontAwesomeIcon8
{
   height: 54px;
   width: 54px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#FontAwesomeIcon8 i
{
   color: #3E78B3;
   display: inline-block;
   font-size: 54px;
   line-height: 54px;
   vertical-align: middle;
}
#wb_FontAwesomeIcon8:hover #FontAwesomeIcon8 i
{
   color: #696969;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: left;
}
#Heading3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#Label5
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #3E78B3;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 0;
}
#Label5:focus
{
   outline: 0;
}
#progressbar_html
{
   margin: 0 0 10px 0 ;
   position: relative;
}
#progressbar_html
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #D3D3D3;
   border-radius: 0px;
   overflow: hidden;
}
#progressbar_html .progress-bar
{
   background-color: #3E78B3;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: flex;
   flex-direction: column;
   width: 90%;
   height: 100%;
   justify-content: center;
   overflow: hidden;
   text-align: center;
   transition: width 0ms linear;
   white-space: nowrap;
}
#Label6
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #3E78B3;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 0;
}
#Label6:focus
{
   outline: 0;
}
#progressbar_uidesign
{
   margin: 0 0 10px 0 ;
   position: relative;
}
#progressbar_uidesign
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #D3D3D3;
   border-radius: 0px;
   overflow: hidden;
}
#progressbar_uidesign .progress-bar
{
   background-color: #3E78B3;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: flex;
   flex-direction: column;
   width: 80%;
   height: 100%;
   justify-content: center;
   overflow: hidden;
   text-align: center;
   transition: width 0ms linear;
   white-space: nowrap;
}
#Label7
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #3E78B3;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 0;
}
#Label7:focus
{
   outline: 0;
}
#progressbar_jquery
{
   margin: 0 0 10px 0 ;
   position: relative;
}
#progressbar_jquery
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #D3D3D3;
   border-radius: 0px;
   overflow: hidden;
}
#progressbar_jquery .progress-bar
{
   background-color: #3E78B3;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: flex;
   flex-direction: column;
   width: 60%;
   height: 100%;
   justify-content: center;
   overflow: hidden;
   text-align: center;
   transition: width 0ms linear;
   white-space: nowrap;
}
#Label8
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #3E78B3;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 0;
}
#Label8:focus
{
   outline: 0;
}
#progressbar_php
{
   margin: 0 0 10px 0 ;
   position: relative;
}
#progressbar_php
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #D3D3D3;
   border-radius: 0px;
   overflow: hidden;
}
#progressbar_php .progress-bar
{
   background-color: #3E78B3;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: flex;
   flex-direction: column;
   width: 75%;
   height: 100%;
   justify-content: center;
   overflow: hidden;
   text-align: center;
   transition: width 0ms linear;
   white-space: nowrap;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading4
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 30px 0 30px 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 5px 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_IconFont1 a
{
   text-decoration: none;
}
#wb_IconFont1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#IconFont1
{
   height: 20px;
   width: 20px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#IconFont1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
}
#wb_IconFont1:hover #IconFont1 i
{
   color: #FFFFFF;
}
#wb_IconFont4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 5px 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_IconFont4 a
{
   text-decoration: none;
}
#wb_IconFont4 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#IconFont4
{
   height: 20px;
   width: 20px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#IconFont4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
}
#wb_IconFont4:hover #IconFont4 i
{
   color: #FFFFFF;
}
#wb_IconFont7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 5px 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_IconFont7 a
{
   text-decoration: none;
}
#wb_IconFont7 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#IconFont7
{
   height: 20px;
   width: 20px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#IconFont7 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
}
#wb_IconFont7:hover #IconFont7 i
{
   color: #FFFFFF;
}
#wb_IconFont8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 5px 10px 0 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_IconFont8 a
{
   text-decoration: none;
}
#wb_IconFont8 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#IconFont8
{
   height: 20px;
   width: 20px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#IconFont8 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
}
#wb_IconFont8:hover #IconFont8 i
{
   color: #FFFFFF;
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 10px 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#IconFont2
{
   height: 54px;
   width: 54px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#IconFont2 i
{
   color: #808080;
   display: inline-block;
   font-size: 54px;
   line-height: 54px;
   vertical-align: middle;
}
#wb_IconFont2:hover #IconFont2 i
{
   color: #696969;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 10px 0 10px 0;
   margin: 0 0 10px 0 ;
   text-align: left;
}
#wb_Text4
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 17px;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text4
{
   display: block;
   margin: 0 0 10px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0 0 20px 0 ;
   text-align: left;
}
#wb_Text7
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text7
{
   display: block;
   margin: 0 0 20px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#Layer16
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   padding: 0;
   box-sizing: border-box;
   margin: 0;
}
#Layer16
{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
}
#Layer17
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
   padding: 20px 20px 20px 20px;
   box-sizing: border-box;
   margin: 0;
}
#Layer17
{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 4px 0 4px 0;
   text-align: left;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #FF3333;
   font-family: "Google Sans";
   font-weight: 400;
   font-size: 15px;
   line-height: 16.5px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 20px 0 ;
   padding: 4px 0 4px 0;
   text-align: left;
}
#Heading5
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
body 
{ 
   font-size: 0 !important; 
//   margin: 0 auto 0 auto;
//   max-width: 1280px;   
}
#Layer3, #Layer5, #Layer9
{
   position: sticky !important;
   top: 0;
   z-index: 9696 !important;
}

#progressbar_jquery
{
   display: block;
   width: 100%;
   height: 20px;
   z-index: 15;
}
#wb_Heading2
{
   display: block;
   width: 100%;
   z-index: 6;
}
#Layer2_Container
{
   width: 100%;
}
#contactEmail
{
   display: block;
   width: 100%;
   height: 42px;
   z-index: 29;
}
#wb_Heading3
{
   display: block;
   width: 100%;
   z-index: 9;
}
#Layer8_Container
{
   width: 100%;
}
#contactName
{
   display: block;
   width: 100%;
   height: 42px;
   z-index: 28;
}
#wb_Heading4
{
   display: block;
   width: 100%;
   z-index: 0;
}
#contactButton
{
   display: block;
   width: 100%;
   height: 42px;
   z-index: 32;
}
#wb_Heading5
{
   display: block;
   width: 100%;
   z-index: 27;
}
#Layer14_Container
{
   width: 100%;
}
#Layer11_Container
{
   width: 100%;
}
#Label5
{
   display: block;
   width: 100%;
   line-height: 16px;
   z-index: 10;
}
#Layer17_Container
{
   width: 100%;
}
#Label6
{
   display: block;
   width: 100%;
   line-height: 16px;
   z-index: 12;
}
#Layer10
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 50vh;
   float: none;
   vertical-align: top;
   display: inline-block;
   z-index: 40;
}
#Layer1
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 50vh;
   float: none;
   vertical-align: top;
   display: inline-block;
   z-index: 36;
}
#wb_FontAwesomeIcon6
{
   display: inline-block;
   width: 54px;
   height: 54px;
   text-align: center;
   z-index: 23;
}
#Layer11
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 50vh;
   float: none;
   vertical-align: top;
   display: inline-flex;
   z-index: 43;
}
#Label7
{
   display: block;
   width: 100%;
   line-height: 16px;
   z-index: 14;
}
#Layer2
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 50vh;
   float: none;
   vertical-align: top;
   display: inline-flex;
   z-index: 35;
}
#wb_FontAwesomeIcon7
{
   display: inline-block;
   width: 54px;
   height: 54px;
   text-align: center;
   z-index: 26;
}
#progressbar_php
{
   display: block;
   width: 100%;
   height: 20px;
   z-index: 17;
}
#Label8
{
   display: block;
   width: 100%;
   line-height: 16px;
   z-index: 16;
}
#Layer4_Container
{
   width: 100%;
}
#Layer3
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 50vh;
   float: none;
   vertical-align: top;
   display: inline-block;
   z-index: 37;
}
#wb_FontAwesomeIcon8
{
   display: inline-block;
   width: 54px;
   height: 54px;
   text-align: center;
   z-index: 25;
}
#Layer7_Container
{
   width: 100%;
}
#Layer13
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 50vh;
   float: none;
   vertical-align: top;
   display: inline-flex;
   z-index: 44;
}
#Layer4
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 50vh;
   float: none;
   vertical-align: top;
   display: inline-flex;
   z-index: 38;
}
#wb_IconFont1
{
   display: inline-block;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 2;
}
#Layer14
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 50vh;
   float: none;
   vertical-align: top;
   display: inline-flex;
   z-index: 47;
}
#wb_FontAwesomeIcon9
{
   display: inline-block;
   width: 54px;
   height: 54px;
   text-align: center;
   z-index: 24;
}
#Layer5
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 100vh;
   float: none;
   vertical-align: top;
   display: inline-block;
   z-index: 45;
}
#wb_IconFont2
{
   display: inline-block;
   width: 54px;
   height: 54px;
   text-align: center;
   z-index: 19;
}
#Layer16_Container
{
   width: 100%;
}
#Layer15
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 50vh;
   float: none;
   vertical-align: top;
   display: inline-flex;
   z-index: 48;
}
#Layer13_Container
{
   width: 100%;
}
#Layer6
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 50vh;
   float: none;
   vertical-align: top;
   display: inline-flex;
   z-index: 42;
}
#Layer16
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 50vh;
   float: none;
   vertical-align: top;
   display: inline-flex;
   z-index: 49;
}
#Layer7
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 100vh;
   float: none;
   vertical-align: top;
   display: inline-flex;
   z-index: 46;
}
#wb_IconFont4
{
   display: inline-block;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 3;
}
#Layer17
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 50vh;
   float: none;
   vertical-align: top;
   display: inline-flex;
   z-index: 50;
}
#contactMessage
{
   display: block;
   width: 100%;
   height: 108px;
   z-index: 31;
}
#progressbar_uidesign
{
   display: block;
   width: 100%;
   height: 20px;
   z-index: 13;
}
#Layer8
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 50vh;
   float: none;
   vertical-align: top;
   display: inline-flex;
   z-index: 39;
}
#Layer6_Container
{
   width: 100%;
}
#Layer9
{
   position: relative;
   text-align: left;
   width: 50%;
   height: 50vh;
   float: none;
   vertical-align: top;
   display: inline-block;
   z-index: 41;
}
#wb_CssMenu1
{
   display: inline-block;
   width: 76px;
   height: 28px;
   z-index: 8;
}
#wb_IconFont7
{
   display: inline-block;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 4;
}
#contactSubject
{
   display: block;
   width: 100%;
   height: 42px;
   z-index: 30;
}
#wb_IconFont8
{
   display: inline-block;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 5;
}
#Layer15_Container
{
   width: 100%;
}
#wb_Heading1
{
   display: block;
   width: 100%;
   z-index: 33;
}
#progressbar_html
{
   display: block;
   width: 100%;
   height: 20px;
   z-index: 11;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#Layer2
{
   height: 484px;
   visibility: visible;
   display: inline-flex;
   margin: 0;
}
#Layer2
{
   width: 100%;
   margin: 0;
}
#Layer2
{
    width: 100%;
    height: 50vh;
}
#Layer2
{
   padding: 20px 20px 20px 20px;
}
#Layer1
{
   height: 484px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Layer1
{
   width: 100%;
   margin: 0;
}
#Layer1
{
    width: 100%;
    height: 50vh;
}
#Layer1
{
   padding: 0;
}
#Layer3
{
   height: 484px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Layer3
{
   width: 100%;
   margin: 0;
}
#Layer3
{
    width: 100%;
    height: 50vh;
}
#Layer3
{
   padding: 0;
}
#Layer4
{
   height: 485px;
   visibility: visible;
   display: inline-flex;
   margin: 0;
}
#Layer4
{
   width: 100%;
   margin: 0;
}
#Layer4
{
    width: 100%;
    height: 50vh;
}
#Layer4
{
   padding: 20px 20px 20px 20px;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 30px 0 30px 0;
}
#wb_CssMenu1
{
   visibility: visible;
   display: inline-block;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 li
{
}
#wb_CssMenu1 a
{
   color: #FFFFFF;
   border: 1px solid rgba(0,0,0,0.00);
   border-radius: 0px;
   background-color: #000000;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
}
#wb_CssMenu1 > ul > li > a
{
   height: 26px;
   line-height: 26px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
}
.CssMenu1-effect:before
{
   border: 1px solid rgba(0,0,0,0.00);
   background-color: #FFFFFF;
   background-image: none;
}
#wb_CssMenu1 li
{
   padding: 0px 4px 0px 0px;
}
#Layer8
{
   height: 485px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Layer8
{
   width: 100%;
   margin: 0;
}
#Layer8
{
    width: 100%;
    height: 50vh;
}
#Layer8
{
   padding: 20px 20px 20px 20px;
}
#Layer10
{
   height: 484px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Layer10
{
   width: 100%;
   margin: 0;
}
#Layer10
{
    width: 100%;
    height: 50vh;
}
#Layer10
{
   padding: 0;
}
#Layer9
{
   height: 484px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Layer9
{
   width: 100%;
   margin: 0;
}
#Layer9
{
    width: 100%;
    height: 50vh;
}
#Layer9
{
   padding: 0;
}
#Layer6
{
   height: 485px;
   visibility: visible;
   display: inline-flex;
   margin: 0;
}
#Layer6
{
   width: 100%;
   margin: 0;
}
#Layer6
{
    width: 100%;
    height: 50vh;
}
#Layer6
{
   padding: 20px 20px 20px 20px;
}
#Layer11
{
   height: 485px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Layer11
{
   width: 100%;
   margin: 0;
}
#Layer11
{
    width: 100%;
    height: 50vh;
}
#Layer11
{
   padding: 20px 20px 20px 20px;
}
#Layer13
{
   height: 283px;
   visibility: visible;
   display: inline-flex;
   margin: 0;
}
#Layer13
{
   width: 100%;
   margin: 0;
}
#Layer13
{
    width: 100%;
    height: 283px;
}
#Layer13
{
   padding: 20px 20px 20px 20px;
}
#Layer5
{
   height: 607px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Layer5
{
   width: 100%;
   margin: 0;
}
#Layer5
{
    width: 100%;
    height: 100vh;
}
#Layer5
{
   padding: 0;
}
#Layer7
{
   height: 609px;
   visibility: visible;
   display: inline-flex;
   margin: 0;
}
#Layer7
{
   width: 100%;
   margin: 0;
}
#Layer7
{
    width: 100%;
    height: 609px;
}
#Layer7
{
   padding: 20px 20px 20px 20px;
}
#Layer14
{
   height: 445px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Layer14
{
   width: 100%;
   margin: 0;
}
#Layer14
{
    width: 100%;
    height: 50vh;
}
#Layer14
{
   padding: 20px 20px 20px 20px;
}
#Layer15
{
   height: 445px;
   visibility: visible;
   display: inline-flex;
   margin: 0;
}
#Layer15
{
   width: 100%;
   margin: 0;
}
#Layer15
{
    width: 100%;
    height: 50vh;
}
#Layer15
{
   padding: 20px 20px 20px 20px;
}
#contactName
{
   width: 100%;
   height: 42px;
   visibility: visible;
   display: block;
   margin: 0 0 15px 0 ;
   padding: 8px 12px 8px 12px;
   text-align: left;
}
#contactName
{
   line-height: 7px;
}
#contactEmail
{
   width: 100%;
   height: 42px;
   visibility: visible;
   display: block;
   margin: 0 0 15px 0 ;
   padding: 8px 12px 8px 12px;
   text-align: left;
}
#contactEmail
{
   line-height: 7px;
}
#contactSubject
{
   width: 100%;
   height: 42px;
   visibility: visible;
   display: block;
   margin: 0 0 15px 0 ;
   padding: 8px 12px 8px 12px;
   text-align: left;
}
#contactSubject
{
   line-height: 7px;
}
#contactMessage
{
   width: 100%;
   height: 108px;
   visibility: visible;
   display: block;
   margin: 0 0 15px 0 ;
   padding: 8px 12px 8px 12px;
   text-align: left;
}
#contactButton
{
   width: 100%;
   height: 42px;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 1px 1px 4px 6px;
}
#wb_Text6
{
   visibility: visible;
   display: block;
}
#wb_Text6
{
   margin: 0 0 20px 0 ;
   padding: 0;
}
#wb_FontAwesomeIcon6
{
   width: 54px;
   height: 54px;
   visibility: visible;
   display: inline-block;
   margin: 0 10px 10px 0 ;
   padding: 0;
}
#FontAwesomeIcon6
{
   width: 54px;
   height: 54px;
}
#FontAwesomeIcon6 i
{
   line-height: 54px;
   font-size: 54px;
   width: 41px;
}
#wb_FontAwesomeIcon6:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#wb_FontAwesomeIcon7
{
   width: 54px;
   height: 54px;
   visibility: visible;
   display: inline-block;
   margin: 0 10px 10px 0 ;
   padding: 0;
}
#FontAwesomeIcon7
{
   width: 54px;
   height: 54px;
}
#FontAwesomeIcon7 i
{
   line-height: 54px;
   font-size: 54px;
   width: 53px;
}
#wb_FontAwesomeIcon9
{
   width: 54px;
   height: 54px;
   visibility: visible;
   display: inline-block;
   margin: 0 10px 10px 0 ;
   padding: 0;
}
#FontAwesomeIcon9
{
   width: 54px;
   height: 54px;
}
#FontAwesomeIcon9 i
{
   line-height: 54px;
   font-size: 54px;
   width: 53px;
}
#wb_FontAwesomeIcon8
{
   width: 54px;
   height: 54px;
   visibility: visible;
   display: inline-block;
   margin: 0 10px 10px 0 ;
   padding: 0;
}
#FontAwesomeIcon8
{
   width: 54px;
   height: 54px;
}
#FontAwesomeIcon8 i
{
   line-height: 54px;
   font-size: 54px;
   width: 45px;
}
#wb_Heading3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0 0 10px 0;
}
#Label5
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 4px 4px 4px 0;
   text-align: left;
}
#Label5
{
   line-height: 16px;
}
#progressbar_html
{
   width: 100%;
   height: 22px;
   visibility: visible;
   display: block;
   margin: 0 0 10px 0 ;
}
#Label6
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 4px 4px 4px 0;
   text-align: left;
}
#Label6
{
   line-height: 16px;
}
#progressbar_uidesign
{
   width: 100%;
   height: 22px;
   visibility: visible;
   display: block;
   margin: 0 0 10px 0 ;
}
#Label7
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 4px 4px 4px 0;
   text-align: left;
}
#Label7
{
   line-height: 16px;
}
#progressbar_jquery
{
   width: 100%;
   height: 22px;
   visibility: visible;
   display: block;
   margin: 0 0 10px 0 ;
}
#Label8
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 4px 4px 4px 0;
   text-align: left;
}
#Label8
{
   line-height: 16px;
}
#progressbar_php
{
   width: 100%;
   height: 22px;
   visibility: visible;
   display: block;
   margin: 0 0 10px 0 ;
}
#wb_Heading2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Heading4
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 30px 0 30px 0;
}
#wb_IconFont1
{
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline-block;
   margin: 5px 10px 0 0 ;
   padding: 0;
}
#IconFont1
{
   width: 20px;
   height: 20px;
}
#IconFont1 i
{
   line-height: 20px;
   font-size: 20px;
   width: 10px;
}
#wb_IconFont4
{
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline-block;
   margin: 5px 10px 0 0 ;
   padding: 0;
}
#IconFont4
{
   width: 20px;
   height: 20px;
}
#IconFont4 i
{
   line-height: 20px;
   font-size: 20px;
   width: 17px;
}
#wb_IconFont7
{
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline-block;
   margin: 5px 10px 0 0 ;
   padding: 0;
}
#IconFont7
{
   width: 20px;
   height: 20px;
}
#IconFont7 i
{
   line-height: 20px;
   font-size: 20px;
   width: 16px;
}
#wb_IconFont8
{
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline-block;
   margin: 5px 10px 0 0 ;
   padding: 0;
}
#IconFont8
{
   width: 20px;
   height: 20px;
}
#IconFont8 i
{
   line-height: 20px;
   font-size: 20px;
   width: 16px;
}
#wb_IconFont2
{
   width: 54px;
   height: 54px;
   visibility: visible;
   display: inline-block;
   margin: 0 10px 10px 0 ;
   padding: 0;
}
#IconFont2
{
   width: 54px;
   height: 54px;
}
#IconFont2 i
{
   line-height: 54px;
   font-size: 54px;
   width: 49px;
}
#wb_Text4
{
   visibility: visible;
   display: block;
}
#wb_Text4
{
   font-size: 15px;
   margin: 0 0 10px 0 ;
   padding: 10px 0 10px 0;
   text-align: left;
   line-height: 17px;
}
#wb_Text7
{
   visibility: visible;
   display: block;
}
#wb_Text7
{
   font-size: 12px;
   margin: 0 0 20px 0 ;
   padding: 0;
   text-align: left;
   line-height: 15px;
}
#Layer16
{
   height: 361px;
   visibility: hidden;
   display: none;
   margin: 0;
}
#Layer16
{
   width: 100%;
   margin: 0;
}
#Layer16
{
    width: 100%;
    height: 50vh;
}
#Layer16
{
   padding: 20px 20px 20px 20px;
}
#Layer17
{
   height: 280px;
   visibility: visible;
   display: inline-flex;
   margin: 0;
}
#Layer17
{
   width: 100%;
   margin: 0;
}
#Layer17
{
    width: 100%;
    height: 50vh;
}
#Layer17
{
   padding: 20px 20px 20px 20px;
}
#wb_Heading1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 4px 0 4px 0;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Heading5
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0 0 20px 0 ;
   padding: 4px 0 4px 0;
}
#Layer3, #Layer5, #Layer9
{
   position: relative !important;
}
}
